.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}

.title {
  background: linear-gradient(90deg, #c2e7fb -0.02%, #e2d6fd 99.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(125, 205, 251, 0.5);
  font-family: Orbitron;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 15vh;
  position: absolute;
}

.grid {
  width: 100vw;
  height: 28vh;
  z-index: 2;
}

.vrGuy {
  aspect-ratio: 887/581;
  height: 43vh;
  transform: translate(-4%, 2%);
}

@media only screen and (max-width: 768px) {
  .grid-svg {
    width: 500vw;
  }

  .vrGuy {
    transform: translate(5%, 2%);
  }

  .title {
    font-size: 2.7rem;
  }
}
