.scroll-text {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0.5rem;
  mask-image: linear-gradient(to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 5%,
      hsl(0 0% 0% / 1) 95%,
      hsl(0 0% 0% / 0));
}

.scroll-text-wrap {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-text-p {
  display: inline-block;
  width: max-content;
  color: #fff;
  font-family: "FormulaCondensed-Bold";
  font-size: 4.5rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.scroll-text span {
  margin-right: 1rem;
}

.gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll-text :nth-child(2)>.scroll-text-p {
  animation: textSlide 17s linear infinite reverse;
}

.scroll-text :nth-child(1)>.scroll-text-p, .scroll-text :nth-child(3)>.scroll-text-p  {
  animation: textSlide 17s linear infinite;
}

@keyframes textSlide {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 768px) {
  .scroll-text-p {
    font-size: 3rem;
  }
}
