.games {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 4vw;
  margin-bottom: 4rem;
}

.games-header {
  display: flex;
  width: 100%;
  justify-content: start;
}

.games-cards {
  margin-top: 2rem;
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 5%;
}

.games-title {
  color: #fff;
  font-family: "FormulaCondensed-Bold";
  font-size: 4rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.blue-text {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
  .games {
    height: max-content;
    margin-bottom: 0;
    padding: 2rem 4vw;
  }

  .games-title {
    font-size: 2.5rem;
  }

  .games-cards {
    margin-top: 1.2rem;
  }
}
