@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-bottom: 4rem;
  mask-image: linear-gradient(to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1) 90%,
      hsl(0 0% 0% / 0));
}

.logos-slide {
  display: inline-block;
  animation: 40s slide infinite linear;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide img {
  opacity: 70%;
  height: 3.5rem;
  margin: 0 4rem;
  transition: opacity 100ms ease-in-out;
}

.logos-slide img:hover {
  opacity: 80%;
}
